body {
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.responsive {
  max-width: 75%;
  height: auto;
}

.displayBox {
  width: 100%;
  font-family: Volkhov;
}

.scroll-box {
  overflow-y: auto;
  height: 500px;
  float: left;
  padding: 1rem;
}
